<%= form_with model: [:admin, item], local: true do |f| %>

  <div class=field >
　  <%= f.label :商品画像 %>
　  <%= f.attachment_field :image %>
　</div>


　<div class=field >
　  <%= f.label :商品名 %>
　  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "商品名" %>
　</div>
　  
  <div class=field >
    <%= f.label :商品説明 %>
    <%= f.text_area :description, autofocus: true, autocomplete: "description", placeholder: "ここに説明文を記述します" %>
  </div>
  
  <div class=field >
    <%= f.label :ジャンル %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name,:prompt => "選択してください" %>
  </div>
  
  <div class=field >
    <%= f.label :税抜価格 %>
    <%= f.number_field :price, autofocus: true, autocomplete: "price", placeholder: "1000" %>
    <%= f.label :円 %>
  </div>
  
  <div class=field >
    <%= f.label :sale_status, :販売ステータス %>
    <%= f.radio_button  :sale_status, true %>
    <%= f.label :販売中 %>
    <%= f.radio_button  :sale_status, false %>
    <%= f.label :販売停止中 %>
  </div>
  
  <div class=actions >
    <% if item.id.nil? %>
      <%= f.submit "新規登録" %>
    <%else%>
      <%= f.submit "変更を保存" %>
    <% end %>
  </div>
<% end %>