<p class="title">商品詳細</p>
<div class="container">
  <div class="row">
    
        <div class="col-lg-4">
          <%= attachment_image_tag @item, :image, format: 'jpeg', size: "270x150" %>
        </div>
        <div class="col-lg-8">
          <table class="table table-borderless table-sm">
            <tr>
              <td style="width:20%">商品名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.description %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <td>税込価格(税抜価格)</td>
              <td><%= @item.price %>(<%= @item.price %>)円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
                <% if  @item.sale_status == true %>
                  <p>販売中</p>
                <%else%>
                  <p>販売停止中</p>
                <% end %>
              </td>
            </tr>
          </table>
        </div>

      <div>
        <%= link_to "編集する", edit_admin_item_path(@item), class: 'btn btn-outline-success btn-sm' %>
      </div>
      
  </div>
</div>