<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h4>管理者ログイン</h4>
      
      <%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: 50 %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-success ' %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
