<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-visual">
        <div class="main-visual-content">
          <div class="shop-name">
            <p>NAGANO CAKE</p>
          </div>
          <p>ようこそ、ながのCAKEへ！</p>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
      </div>
      <div class="new-items">
        <h3>新着商品</h3>
        <% @items.each do |item| %>
        <table class= "d-inline-block">
          <tr>
            <td>
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag(item, :image, :fill, 270, 150) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= item.name %></td>
          </tr>
          <tr>
            <td>¥<%= item.price.to_s(:delimited) %></td>
          </tr>
        </table>
        <% end %>
        <p class="text-md-right">
          <%= link_to "全ての商品を見る>", items_path %>
        </p>
      </div>
    </div>
  </div>
</div>

