<div class="container">
  <div class="row">
    <div class="col-md-12">

　　<p class="title"><%= @customer.last_name+@customer.first_name %>さんの会員情報編集</p>
　　<%= form_with model: @customer,url:admin_customer_path(@customer), local: true do |f| %>
　　<table class= "table table-borderless table-sm">
　　  <tr>
　　    <td>会員ID</td>
　　    <td> <%= @customer.id %> </td>
　　  </tr>
　　  <tr>
        <td style="width:15%">氏名</td>
        <td style="width:15%"><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
　　  </tr>
　　  <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_kana %></td>
        <td><%= f.text_field :first_name_kana %></td>
　　  </tr>
　　  <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :postal_code %></td>
　　  </tr>
　　  <tr>
        <td>住所</td>
        <td colspan="2"><%= f.text_field :address, size: 60 %></td>
　　  </tr>
　　  <tr>
        <td>電話番号</td>
        <td><%= f.text_field :telephone_number %></td>
　　  </tr>
　　  <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email %></td>
　　  </tr>
　　  <tr>
        <td>会員ステータス</td>
        <td>
          <%= f.radio_button :withdraw_status, :true %>
          <%= f.label :withdraw_status, "有効", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :withdraw_status, :false %>
          <%= f.label :withdraw_status, "退会", {value: :false, style: "display: inline-block;"} %>
        </td>
　　  </tr>
　　  <tr>
　　    <td></td>
        <td><%= f.submit "変更を保存", class: 'btn btn-outline-success btn-sm' %></td>
　　  </tr>

　　</table>
　　<% end %>


    </div>
  </div>
</div>