<div class="container">
  <div class="row">
    <div class="col-md-12">

    <p class="title">注文履歴詳細</p>
    <table class="table table-borderless" >
      <tr>
        <td><strong>購入者</strong></td>
        <td><%= link_to @order.name, admin_customer_path(@customer) %></td>
      </tr>
      <tr>
        <td><strong>注文日</strong></td>
        <td><%= @order.created_at %></td>
      </tr>
      <tr>
        <td><strong>配送先</strong></td>
        <td><%= @order.postcode %>　<%= @order.address %><br><%= @order.name %></td>
      </tr>
      <tr>
        <td><strong>支払方法</strong></td>
        <!--Enum入ります！！！-->
        <td></td>
      </tr>
      <tr>
        <%= form_with model: @order, url: admin_order_path(@order), local: true do |f| %>
          <td><strong>注文ステータス</strong></td>
          <td><%= f.select :buy_status, [['入金待ち', 0], ['入金確認', 1], ['製作中', 2], ['発送準備中', 3], ['発送済み', 4]] %></td>
          <td><%= f.submit "更新", class: 'btn btn-outline-success btn-sm' %></td>
        <% end %>  
      </tr>
    </table>
    
  <div class="row">
    <div class="col-md-8">
      <table class="table table-borderless" >
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
          <tr>
            <% @order_details.each do |order_detail| %>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.tax_price.to_s(:delimited) %></td>
              <td><%= order_detail.quantity %></td>
              <td><%= order_detail.subtotal %></td>
              <%= form_with model: @order_detail, url: admin_order_order_detail_path(@order_detail), local: true do |f| %>
              <td><%= f.select :make_status, [['製作不可', 0], ['製作待ち', 1], ['製作中', 2], ['製作完了', 3]] %></td>
              <td><%= f.submit "更新", class: 'btn btn-outline-success btn-sm' %></td>
              <% end %>
            <% end %>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-borderless">
        <tr>
          <td><strong>商品合計</strong></td>
          <td><%= %>円</td>
        </tr>
        <tr>
          <td><strong>送料</strong></td>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <td><strong>請求金額合計</strong></td>
          <td><%= %>円</td>
        </tr>
      </table>
    </div>
  </div>
    

    
    </div>
  </div>
</div>