<div class="container">
  <div class="row">
    <div class="col-md-12">

      <p class="title">注文履歴一覧<p>
      <table class="table table-hover table-inverse" >
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at %></td>
            <td><%= order.customer %></td>
            <td><%= order.items.count %></td>
            <td><%= order.buy_status %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
        <%= paginate @orders %>

    </div>
  </div>
</div>