

<p class="title">配送先登録/一覧</h1>
<%= form_with model: @address, local: true do |f| %>

<%= f.label :"郵便番号(ハイフンなし)" %>
<%= f.text_field :postcode, autofocus: true, autocomplete: "postcode",placeholder: "0000000" %>

<%= f.label :"住所" %>
<%= f.text_field :address, autofocus: true, autocomplete: "address",placeholder: "東京都渋谷区代々木神園町0-0", size: 70 %>

<%= f.label :"宛名" %>
<%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "令和道子" %>

<%= f.submit "新規登録", class: 'btn btn-outline-success' %>

<% end %>
