<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h4>新規会員登録</h4>
      <%= form_with model: @customer, url: new_customer_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :名前 %>
          <%= f.label :"(姓)" %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",placeholder: "令和" %>
          <%= f.label :"(名)" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",placeholder: "道子" %>
        </div>

        <div class="field">
          <%= f.label :フリガナ %>
          <%= f.label :"(セイ)" %>
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana",placeholder: "レイワ" %>
          <%= f.label :"(メイ)" %>
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana",placeholder: "ミチコ" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com" %>
        </div>

        <div class="field">
          <%= f.label :"郵便番号(ハイフンなし)" %>
          <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode",placeholder: "0000000" %>
        </div>

        <div class="field">
          <%= f.label :住所 %>
          <%= f.text_field :address, autofocus: true, autocomplete: "address",placeholder: "東京都渋谷区代々木神園町0-0", size: 70 %>
        </div>

        <div class="field">
          <%= f.label :"電話番号(ハイフンなし)" %>
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number",placeholder: "0000000000" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード(6文字以上)" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: 'btn btn-success' %>
        </div>
      <% end %>

      <h4>既に登録済みの方</h4>
      <p><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>

    </div>
  </div>
</div>
