<h1>注文情報確認</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3>ショッピングカート</h3>
        <table class="table table-bordered table-sm">
          <thread>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thread>
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= attachment_image_tag(cart_item.item, :image, :fill, 60, 40) %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.tax_price %></td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.subtotal %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
送料
800
商品合計
<%= @cart_items.sum(&:subtotal) %>
請求金額
<%= 800 + @cart_items.sum(&:subtotal) %>

支払方法
<% if @order.pay_type == "creditcard" %>
<p>クレジットカード</p>
<% else %>
<p>銀行振込</p>
<% end %>

お届け先

"〒"
<%= @order.postcode %>
<%= @order.address %>
<%= @order.name %>
