<div class="container">
  <p class="title">注文履歴詳細<p>
  <div class="row">
      <div class="col-md-7">
        <p><strong>注文情報</strong></p>
        <table class="table table-hover table-inverse table-borderless">
          <tr>
            <td style="width: 20%">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>〒<%= @order.postcode %><br><%= @order.address %><br><%= @order.name %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.pay_type_i18n %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.buy_status_i18n %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <p><strong>請求情報</strong></p>
        <table class="table table-hover table-inverse table-borderless">
            <td>商品合計</td>
            <td>
              <%= (@order.total_price - @order.shipping_cost).to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= @order.shipping_cost.to_s(:delimited) %></td>
          </tr>
          <tr>
          <tr>
            <td>ご請求額</td>
            <td><%= @order.total_price.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p><strong>注文内容</strong></p>
        <table class="table table-hover table-inverse table-borderless">
          <thead>
            <tr style="background-color: #ffe6ca">
              <th style="width: 60%">商品</th>
              <th style="width: 20%">単価（税込）</th>
              <th style="width: 10%">個数</th>
              <th style="width: 10%">小計</th>
            </tr>
          </thead>
          <% @order.order_details.each do |order_detail| %>
          <tbody>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.tax_price.to_s(:delimited) %></td>
              <td><%= order_detail.quantity %></td>
              <td><%= order_detail.subtotal.to_s(:delimited) %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>
