<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "270x150" %>
    </div>

    <div class="col-lg-8">
    <table class="table table-borderless table-sm">
      <tr>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td><%= @item.description %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>¥<%= @item.tax_price.to_s(:delimited) %>(税込)</td>
      </tr>
      <tr>
        <td><%= f.submit "編集内容を保存", class: 'btn btn-outline-success' %></td>
        <td><%= link_to "カートに入れる", customers_unsubscribe_path(@customer), class: 'btn btn-outline-success' %></td>
      </tr>
      </div>

  </div>
</div>