<div class="container">
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-3">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "270x170" %>
    </div>

    <div class="col-md-5">
      <%= form_with model: [@item, @cart_item], url:cart_items_path, local: true do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
        <h3><%= @item.name %></h3>
        <p><%= @item.description %></p>

        <table class="table table-borderless table-sm">
          <tr>
            <td>¥<%= @item.tax_price.to_s(:delimited) %>(税込)</td>
          </tr>
          <tr>
            <td style="width: 30%">
              <%= f.select :quantity, [*(1..10)], { include_blank: '個数選択' } %></td>
            <td>
              <%= f.submit "カートに入れる", class: 'btn btn-outline-success btn-sm' %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-md-2"></div>

  </div>
</div>
