<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= link_to image_tag(src= "nagano.jpg"), "/" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>ようこそ、<%= customer.name %>さん！</li>
          <li><%= link_to 'マイページ', public_customers_show_path(current_customer),class: 'nav-link text-light' %></li>
          <li><%= link_to '商品一覧', public_items_index_path, class: 'nav-link text-light' %></li>
          <li><%= link_to 'カート', public_cart_items_index_path ,class: 'nav-link text-light' %></li>
          <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'nav-link text-light' %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to '商品一覧', items_index_path,class: 'nav-link text-light' %></li>
          <li><%= link_to '会員一覧', customers_index_path,class: 'nav-link text-light' %></li>
          <li><%= link_to '注文履歴一覧', orders_show_path,class: 'nav-link text-light' %></li>
          <li><%= link_to 'ジャンル一覧', genres_index_path ,class: 'nav-link text-light' %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class: 'nav-link text-light' %></li>
        <% else %>
          <li><%= link_to 'About', public_homes_about_path, class: 'nav-link text-light' %></li>
          <li><%= link_to '商品一覧', public_items_index_path, class: 'nav-link text-light' %></li>
          <li><%= link_to '新規登録', new_customer_registration_path, class: 'nav-link text-light' %></li>
          <li><%= link_to 'ログイン', new_customer_session_path , class: 'nav-link text-light' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>